{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
    Modifier un(e) employé(e)
    {% else %}
    Ajouter un(e) employé(e)        
    {% endif %}
{% endblock %}

{% block body %}
    {% if edit %}
        <h1>Modifier un(e) employé(e)</h1>
    {% else %}
        <h1>Ajouter un(e) employé(e)</h1>        
    {% endif %}

    {{ form_start(addEmployeForm) }}
    <div class="row">
        <div class="col-sm">
            {{ form_row(addEmployeForm.nom) }}
        </div>
        <div class="col-sm">
            {{ form_row(addEmployeForm.prenom) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            {{ form_row(addEmployeForm.dateNaissance) }}
        </div>
        <div class="col-sm">
            {{ form_row(addEmployeForm.dateEmbauche) }}
        </div>
    </div>
        {{ form_row(addEmployeForm.entreprise) }}
        {{ form_row(addEmployeForm.ville) }}
        {{ form_row(addEmployeForm.valider) }}
    {{ form_end(addEmployeForm) }}

{% endblock %}
